body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #f0f0f0;
}

h1 {
  color: #2d6a4f;
}
hr {
  margin: 40px auto;
  width: 50%;
  border: 1px solid #ccc;
}

a {
  color: #2d6a4f;
}
